/target/classes/readFile/Application.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/classes/readFile/Greeting.class
/target/classes/readFile/GreetingController.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/readBigfile.iml
/target/classes/META-INF/readBigfile.kotlin_module
